RewriteEngine on

RewriteRule ^(home)$ index.php [NC,L]

RewriteRule ^(login|registration|admin-login|create-post|user-posts|comments|profile)$ index.php?page=$1 [NC,L]

RewriteRule ^page/(\d+)$ index.php?page=home&no=$1 [NC,L]

RewriteRule ^category/(\d+)$ index.php?page=home&category=$1 [NC,L]

RewriteRule ^tag/([^/]+)$ index.php?page=home&tag=$1 [NC,L]
